@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
.container{
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  max-height: 100vh;
}
.flex{
  display: flex;
  align-items: center;
  gap: 10rem;
}